
.godot/

.import/

export_presets.cfg
export.cfg

*.translation

*.log
godot.log

.mono/
data_*/
mono_crash.*.json
[Bb]in/
[Oo]bj/
.vs/

*.blend1
*.blend2
*.blend3
*.blend4
*.blend5
*.blend@
*.spp~
*.autosave/

.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
/android/
